<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Tutorial Test Suite">
    <test name="Chapter 1 Tests">
        <classes>
            <class name="com.example.selenium.tests.EnvironmentSetupTest"/>
            <class name="com.example.selenium.tests.FirstSeleniumTest"/>
        </classes>
    </test>
</suite>