*.log
*.log.*
reports/
logs/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
virtualenv/
virtual-env/
virtualenv-2.7/
virtualenv-3.6/
virtualenv-3.7/
virtualenv-3.8/
virtualenv-3.9/
virtualenv-3.10/
venv/
.venv/
build/
dist/
*.egg-info/
.tox/
.coverage
.coverage.*
.pytest_cache/
.ipynb_checkpoints/
.vscode/
*.bak
*.swp
*~
.DS_Store
