# Soda Core dependencies
soda-core[postgres]==3.3.1
soda-core[clickhouse]==3.3.1
python-dotenv==1.0.0

# Additional database drivers
psycopg2-binary==2.9.7
clickhouse-driver==0.2.6

# Utilities
pyyaml==6.0.1
pandas==2.1.0
